.main{
    background-color: rgb(255, 202, 202);
}
.video-title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 28px;
    margin-bottom: 5px;
}
.sma{
    margin-top:0;
    font-family: Arial;
    font-size: 14px;
    color: grey;
    margin-bottom: 16px;
}
.n{
    font-family: Arial;
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}
.ls{
width: 280px;
font-family: Arial;
color: grey;
font-size: 14px;
margin-bottom: 100px;
}
.ls1{
    font-family: Arial;
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(277,65,64);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  
}
.un{
cursor: pointer;

}
.un:hover{
text-decoration: underline;
}